body {
	background-color: lightpink;
}

h1 {
	font-size: 40px;
	color: steelblue;
}

h2 {
	font-size: 30px;
	color: darkgray;

}

.small {
	font-size: 15px;
}

.uppercase {
	text-transform: uppercase;
}

span {
	color: darkgoldenrod;
}
h1 span {
	color: lemonchiffon;     
}